.wrap {
  max-width: 1042px;
  margin: 0 auto;
  padding: 0 15px;
}

.deposit {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.deposit__links {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 40px;
}

.withraw-btn {
  margin-right: 20px;
}

.deposit__block {
  height: 324px;
  width: 1042px;

  margin-bottom: 75px;
  background: linear-gradient(
      122.58deg,
      rgba(244, 238, 244, 0.17) -47.99%,
      rgba(98, 28, 100, 0) 116.04%,
      #fa06ff 116.05%
    ),
    radial-gradient(
        121.41% 160.58% at 45.23% 7.25%,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(0, 0, 0, 0) 100%,
        rgba(5, 5, 5, 0.2) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  border: 1px solid #2ac4bf;
  backdrop-filter: blur(30px);
  /* Note: backdrop-filter has minimal browser support */
}

.btn-deposit {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 34px;
    height: 34px;
    margin-right: 10px;
  }
}

.deposit__block-text {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 6px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: #ffffff;

  opacity: 0.7;
}

.deposit__block-balance {
  display: flex;
  justify-content: center;

  // font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  /* identical to box height */

  color: #ffffff;
  span {
    font-weight: 500;
    font-size: 20px;
    line-height: 65px;
    margin-left: 9px;

    color: #fff;

    opacity: 0.5;
  }
}

.deposit__block-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 38px;
}

p {
  color: white;
}

.deposit__block-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 43px;
  margin-bottom: 59px;
}

.account-avatar {
  position: relative;
  top: -40px;
  right: -17px;
}
