.wrapper {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  background: url("../assets/bg/bg.png");
  background-size: 1400px 805px;
  background-repeat: no-repeat;

  &__background {
    background: #222222;
  }
}

.rectangles {
  &__left {
    position: absolute;
    left: 5px;
    top: 130px;
  }

  &__right {
    position: absolute;
    right: 0px;
    bottom: 650px;
  }
}

.container {
}
